snippet todo "todo"
//@TODO: $1
endsnippet
snippet dc "Doxygen comments"
/**< $1 **/
endsnippet
snippet	/// "Doxygen comments"
///< $1
endsnippet
snippet dcwarning "Doxygen Comments"
@warning $1
endsnippet
